<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft1851.fifth.group.music.mapper.MusicMapper">

<delete id="batchCancel" parameterType="Like">
    DELETE FROM t_like
    WHERE user_id = #{likes[0].userId} AND music_id IN
    <foreach item="item" index="index" collection="likes" open="(" separator="," close=")">
        (
         #{item.musicId}
        )
    </foreach>
</delete>

</mapper>